<head>
  <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.6.1/jquery.min.js"></script>
  <script type="text/javascript" src="/static/js/highcharts.js"></script>

    <script type="text/javascript">
	var chart;
	$(document).ready(function() {
	   chart = new Highcharts.Chart({
	      chart: {
		 renderTo: 'chart_container',
		 type: 'spline'
	      },
	      title: {
		 text: 'List prices for {{ class_tsid }}'
	      },
	      subtitle: {
		 text: 'An example of irregular time data in Highcharts JS'   
	      },
	      xAxis: {
		 type: 'datetime'
	      },
	      yAxis: {
		 title: {
		    text: 'List price'
		 },
		 min: 0
	      },
	      tooltip: {
		 formatter: function() {
			   return '<b>'+ this.series.name +'</b><br/>'+
		       Highcharts.dateFormat('%e. %b', this.x) +': '+ this.y +' m';
		 }
	      },
	      series: [{
		 name: 'List price of {{ class_tsid }}',
		 // Define the data points. All series have a dummy year
		 // of 1970/71 in order to be compared on the same x axis. Note
		 // that in JavaScript, months start at 0 for January, 1 for February etc.
		  data: {{ price_data_as_json }}
	      }]
	   });
	});
    </script>



  <link rel="stylesheet" type="text/css" media="all" href="http://c1.glitch.bz/css/developer_67510_1318537955.gz.css" />
  <title>Ecurnomics</title>
</head>

<body>


    <p><h1>Ecurnomics</h1></p>
    <div id="chart_container" style="width: 100%; height: 400px"></div>
    <p>Total units listed: {{ total_count }}</p>
    <p>Total value of all auctions: {{ total_cost }}</p>
    <p>Average cost per unit: {{ average_cost }}</p>
    <ul>
      {% for item in items %}
          <li>
	    <a href="/item/{{ item.class_tsid }}/">{{ item.class_tsid }}</a>
	      {{ item.unit_cost_fixed_decimal }}
	  </li>
      {% endfor %}
    </ul>
</body>

