<head>
  <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.6.1/jquery.min.js"></script>
  <script type="text/javascript" src="/static/js/highcharts.js"></script>
    <script type="text/javascript">
	var chart;

	Highcharts.setOptions({
	    global: {
	        useUTC: false
	    },
	    colors: [
	             '#24CBE5',
                     '#4186d3',
	             '#64E572',
                    ]
	});

	$(document).ready(function() {
	   chart = new Highcharts.Chart({
	      chart: {
		  renderTo: 'chart_container',
		  type: 'spline',
		  zoomType: 'xy',
	          backgroundColor: '#e9e9e9',
	          borderColor: '#d0d0d0',
                  borderWidth: '1',
	          spacingTop: 20,
	          marginTop: 100
	      },
	      title: {
		 text: '{{ item_label }} Prices'
	      },
	      subtitle: {
		 text: 'Drag a selection box to zoom in'
	      },
	      legend: {
                 enabled: true
	      },
	      xAxis: {
		  type: 'datetime',
		  dateTimeLabelFormats: { // don't display the dummy year
		      second: '%H:%M:%S',
		      minute: '%H:%M',
		      hour: '%e. %b',
		      day: '%e, %b',
		      week: '%e. %b',
		      month: '%e. %y',
		      year: '%b'
		  }
	      },
	      yAxis: {
		  title: {
		      text: 'List price',
		  },
	          min: 0
	      },
	      tooltip: {
		 formatter: function() {
		     return Highcharts.numberFormat(this.y, 2) +' currents/unit';
		 }
	      },
	      series: [{
	           name: 'Prices',
	           type: 'scatter',
	           color: 'rgba(36, 203, 229, .4)',
		   data: {{ price_data_as_json }}
	       },{
	           name: 'Daily Average',
                   color: '#4186d3',
	           data: {{ daily_average_data_as_json }}
	       },{
	           name: 'Tool Vendor Sell ({{ vendor_buy_price }})',
	           color: 'rgba(100, 229, 114, 0.7)',
	           width: '1',
	           enabled: 'false',
                   data: {{ vendor_buy_price_data_as_json }}
               }]
	   });
	});
    </script>



  <link rel="stylesheet" type="text/css" media="all" href="/static/css/base.css" />
  <title>Ecurnomics</title>
</head>

<body>
  <div class="wrapper">
    {% include 'topnav.html' %}
    <div id="chart_meta_container">
      <div id="chart_container"></div>
    </div>
    <!--<p>Total units listed: {{ total_count }}</p>
	<p>Total value of all auctions: {{ total_cost }}</p>
    <p>Average cost per unit: {{ average_cost }}</p>-->
    <div class="push"></div>
  </div>
  {% include 'bottom.html' %}
</body>

